.products {
  background-color: var(--background-color);
  
  .product-cards {
    max-width: var(--max-width-large);
    margin: 0 auto;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    justify-items: center;
    padding-top: 5rem;

    .products-scroll-button {
      background-color: var(--color-green-main);
    }
  }
}

@media screen and (max-width: 1499px) {
  .products {
    .product-cards {
      max-width: var(--max-width);
      margin: 0 auto;
    }
  }
}

@media screen and (max-width: 1199px) {
  .products {
    .product-cards {
      max-width: var(--max-width-small);
      margin: 0 auto;
    }
  }
}

@media screen and (max-width: 899px) {
  .products {
    .product-cards {
      max-width: var(--max-width-extra-small);
      margin: 0 auto;
    }
  }
}

@media screen and (max-width: 599px) {
  .products {
    .product-cards {
      margin: 0 auto;
      max-width: var(--max-width-ultra-small);
      grid-template-columns: repeat(auto-fit, minmax(260px, 1fr));
    }
  }
}