.hero {
  height: 100vh;
  background-image: url('../../assets/images/Hero/main-bg.jpg');
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
  box-shadow: inset 0 0 0 1000px rgba(0,0,0,.5);

  .hero-wrapper {
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    h1 {
      width: 38rem;
      color: white;
      text-shadow: 3px 5px 10px #000000;
      margin-bottom: 1.5rem;
    }

    button {
      background: var(--color-green-main);
      color: white;
      padding: .5rem 2rem;
      border-radius: 8px;
      font-weight: 500;
      font-size: 1.5rem;
    }
  }
}