.product-card {
  text-align: left;
  margin-bottom: 4rem;

  h5 {
    margin-bottom: 0rem;
  }

  h6 {
    margin-bottom: .25rem;
  }

  .product-add-cart-button {
    display: flex;
    width: 15rem;
    padding: .75rem 0;
    margin: 1rem auto 0rem auto;
    justify-content: center;
    background-color: var(--color-green-main);
  }

  .product-add-cart-button:hover {
    background-color: var(--color-green-light);
  }

  .product-card-button { 
    display: flex;
    width: 15rem;
    padding: .75rem 0;
    margin: 1rem auto 0rem auto;
    justify-content: center;
    background-color: var(--color-green-main);
  }

  .product-card-button:hover {
    background-color: var(--color-green-light);
  }

  .product-add-remove-button {
    display: inline-flex;
    margin: 0 auto;
    color: var(--color-green-main);
  }

  .product-card-wrapper {
    .product-card-typography {
      margin-left: .2rem;
    }
  }
}

.product-card-popup {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  height: 100vh;
  width: 100vw;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 4000;

  .product-card-popup-content {
    display: flex;
    justify-content: center;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    max-width: 15rem;
    padding: 1rem;
    text-align: center;

    h4 {
      font-size: 1.5rem;
    }

    h5 {
      font-size: 1.25rem;
    }

    h6 {
      font-size: 1rem;
      margin-bottom: .8rem;
    }

    p {
      font-size: 1rem;
    }

    button {
      margin-top: 1.5rem;
      background-color: var(--color-green-main);
    }
  }
}

@media screen and (max-height: 400px) {
  .product-card-popup {
    .product-card-popup-content {
      padding: .75rem .75rem .5rem .75rem;
    }
  }
}

@media screen and (max-width: 599px) {
  .product-card {
    width: 15rem;
    margin-bottom: 2rem;

    img {
      height: 200px;
    }

    .product-add-cart-button {
      width: 12rem;
      padding: .75rem 0;
      margin: 1rem auto 0rem auto;
    }

    .product-card-button { 
      width: 12rem;
      padding: .75rem 0;
      margin: 1rem auto 0rem auto;
    }
  }
}