header {
  position: fixed;
  width: 100%;
  height: 6rem;
  backdrop-filter: saturate(180%) blur(10px);
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 2000;

  .header-wrapper {
    max-width: var(--max-width);
    margin: 0 auto;

    ul li {
      list-style: none;
      display: flex;
      justify-content: space-between;
      align-items: center;

      a {
        color: white;
      }

      .header-left-content {
        display: flex;
        justify-content: center;
        align-items: center;

        p {
          font-weight: 700;
          color: #8FC63D;
          text-shadow: 1px 1px 0 #fff;
        }

        .header-logo {
          margin: 0;
          img {
            width: auto;
            height: 5rem;
            padding: .375rem;
          }
        }
      }

      .header-mid-content {
        display: flex;
        gap: .25rem;
        
        a {
          padding: 2rem;
          font-weight: 400;
          color: rgba(255, 255, 255, 0.8);
          transition: all .3s ease;
        }

        a:hover {
          color: white;
        }
      }

      .header-right-content {
        display: flex;
        align-items: center;
        transition: all .3s ease;
        cursor: pointer;

        a { 
          width: 6em;
        }
        img {
          width: 2em;
          height: 1.5rem;
          padding: 1rem .5rem;
        }
      }

      .header-right-content:hover {
        transform: scale(1.05);
      }
    }
  }
}