header {
  position: fixed;
  width: 100%;
  height: 4.5rem;
  background-color: var(--color-green-main);
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.5);
  z-index: 2000;

  .header-wrapper {
    max-width: var(--max-width-large);
    margin: 0 auto;

    .header-content {
      list-style: none;
      display: flex;
      justify-content: space-between;

      .header-left-content {
        display: flex;
        justify-content: center;
        align-items: center;
        
        .header-logo {
          width: auto;
          height: 3rem;
          margin-left: 15rem;
          transition: transform 0.3s ease;
          cursor: pointer;
        }

        .header-logo:hover {
          transform: scale(1.1) rotate(-10deg);
        }
      }

      .header-text-buttons {
        display: flex;
        justify-content: center;
        align-items: center;

        button {
          margin-top: .1rem;
          padding: 1.6rem;
          font-weight: 500;
          font-size: 1rem;
          border: none;
          color: rgba(255, 255, 255, 0.8);
          background-color: var(--color-green-main);
          text-decoration: none;
          cursor: pointer;
          transition: all .3s ease;
        }

        button:hover {
          color: white;
        }
      }

      .header-right-content {
        margin-top: 1.25rem;
        margin-right: 15rem;
        transition: all .3s ease;
        cursor: pointer;

        .header-badge {
          color: white;
          span {
            background-color: rgb(0, 112, 6);
          }
        }

        img {
          width: 2em;
          height: 1.5rem;
          padding: 1rem .5rem;
        }
      }

      .header-right-content:hover {
        transform: scale(1.05);
      }
    }
  }
}

@media screen and (max-width: 1009px) {
  header {
    height: 8rem;

    .header-wrapper {
      .header-content {
        justify-content: center;
        flex-direction: column;

        .header-left-content {
          .header-logo {
            width: auto;
            height: 3rem;
            margin-left: 0rem;
            margin-top: .75rem;
          }
        }

        .header-text-buttons {
          display: none;
        }

        .header-right-content {
          justify-content: center;
        }
      }
    }
  }
}

@media screen and (max-height: 400px),
       screen and (max-width: 1009px) {
  header {
    height: 6rem;

    .header-wrapper {
      .header-content {
        justify-content: center;
        flex-direction: column;

        .header-left-content {
          .header-logo {
            width: auto;
            height: 2.5rem;
            margin-left: 0rem;
            margin-top: .75rem;
          }
        }

        .header-text-buttons {
          display: none;
        }

        .header-right-content {
          display: flex;
          justify-content: center;
          margin-right: .5rem;
          margin-top: 0.25rem;
        }
      }
    }
  }
}